.header{
    height: 80px;
    background-color: #2F3546;
}

.header__col-logo{
    width: 20%;
    height: 100%;
    line-height: 80px;
}

.header__col-nav{
    width: 80%;
    height: 100%;
}

.header__logo-img{
    vertical-align: middle;
    margin-right: 15px;
    width: 40px;
}

.header__text-logo{
    font-size: 23px;
    font-weight: 700;
    color: white;
    vertical-align: middle;
}

.header__nav{
    line-height: 80px;
    text-align: right;
    padding: 0 40px;
}

.header__list{
    margin: 0 20px;
}

.header__list--active,
.header__list--active a{
    color: #7B6FFE;
}

.update-date__sub-title{
    color: #b3b4ba;
    font-weight: 400;
    margin-right: 10px;
    vertical-align: middle;
}

.update-date strong{
    vertical-align: middle;
}

.update-date__ico-state{
    vertical-align: middle;
    margin-left: 10px;
}

.content-report{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-report__col{
    width: 560px;
}

.content-report__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-report__card{
    width: 265px;
    margin-bottom: 20px;
}

.content-report__widget{
    background: #2f3447;
    border-radius: 5px;
    padding: 20px;
}

.content-report__icon-gradient{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin-right: 15px;
}

.content-report__value{
    display: inline-block;
    vertical-align: middle;
}



/* debug */
/*
.debug .header__col-logo{
    background: blanchedalmond;
}

.debug .header__col-nav{
    background:brown;
}

.debug .content-report{
    background: tomato;
}

.debug .content-report__col{
    background: yellow;
    height: 500px;
}

.debug .content-report__card{
    background-color: teal;
    height: 100px;
}

.debug .content-report__content{
    background-color:sienna;
    height: calc(100% / 2);
}
*/